{# templates/partials/_footer.html.twig #}
<footer class="bg-dark text-white mt-5 p-2 text-center">
	<p class="mb-0">&copy; 2025
		<span class="site-name fw-bold">
			<span style="color: #FFD700;">F</span>
			<span style="color: #FF8C00;">i</span>
			<span style="color: #FF69B4;">n</span>
			<span style="color: #00FFFF;">a</span>
			<span style="color: #90EE90;">n</span>
			<span style="color: #F08080;">c</span>
			<span style="color: #FFFFFF;">e</span>
			<span>&nbsp;</span>
			<span style="color: #FFD700;">P</span>
			<span style="color: #FF8C00;">o</span>
			<span style="color: #FF69B4;">u</span>
			<span style="color: #00FFFF;">r</span>
			<span>&nbsp;</span>
			<span style="color: #90EE90;">T</span>
			<span style="color: #F08080;">o</span>
			<span style="color: #FFFFFF;">u</span>
			<span style="color: #FFD700;">s</span>
		</span>. Tous droits réservés.
	</p>
</footer>
